<footer>
  
  <div class="footer"> Augmented Reality. <br/>
        CCST336 Internet Programming. 2019&copy; Uganiza <br/>
        <strong>Disclaimer:</strong> The information in this webpage is <br/>
        used for academic purposes only. <br/>
        </div>
  
  
</footer>