<!--All ejs tags go within the tags <%%> below -->
<% include partials/header.ejs %>

<body>
    <div class="content clearfix">
                <Section>
                    <div class="about_top">
                        <h2>aug·men·ted re·al·i·ty
                        <br>
                        noun
                        </h2>
                    </div>
        
                    <Article class="about_bottom">
                        <h3>
        
                            A technology that superimposes a computer-generated  image on a users view of the real world, thus providing a composite view. <br /> <br />
        
                            <img src="img/snapar.gif" alt="snapchat AR gif" class="rounded" /><br /> 
        
                        </h3>
        
                    </Article>
                </Section>
        
                <Aside>
                    <h2>
                        Examples of AR:
                    </h2>
        
                    <h4>
                        <a href="https://techcrunch.com/2019/04/04/snapchat-scan-platform/">Snapchat</a> <br /> <br /> One of the leading companies utilizing AR is snapchat. <br> Snapchat is known famously for their "face-filters" when taking a photo or video.
                        The software maps the surface of the user's face and to the user's liking, can scroll through a variety of graphics such as: dog snouts, facial hair placement, or glasses. 
                    </h4>
        
                    <h4>
                        <a href="https://www.theverge.com/2019/2/12/18221026/pokemon-go-snapshot-ar-photo-mode-iphone-android">Pokemon GO</a> <br /> <br /> Along with Snapchat,
                        Pokemon GO, developed by Niantic, was one of the few applications that was able to implement augmented reality successfully. In this game,
                        users that have AR enabled, can look around with their phone's or tablet's camera and catch Pokemon.
                    </h4>
        
                    <h4>
                        <a href="https://www.fastcompany.com/90205800/this-ar-business-card-is-way-cooler-than-your-flimsy-card">Business Cards</a> <br /> <br /> Augmented reality business cards are quite new to the table.
                        As you may have guessed, when a user obtains a physical business card that is AR enabled; the user can scan the card with an app or camera and a graphical interface with more information or videos can display along side the physical card.
                    </h4>
        
                    <h4>
                        To see more examples of AR, click <a href="https://www.inap.com/blog/7-incredible-examples-of-augmented-reality-technology/">here</a>
                    </h4>
                </Aside>
    </div>
    
    <% include partials/footer.ejs %>
    
</body>
</html>



    