<!--All ejs tags go within the tags <%%> below -->
<% include partials/header.ejs %>

<body>
    <h2>There's more to it?</h2>
    <h2><strong>YES!</strong></h2>
    
    <div class="content clearfix">
        <section>
            <div class="top">
                <h3>
                    <u><strong>Teaching and Training</strong></u> <br /> <br /> By using augmented reality technology, any information or data can be passed to a student in real-time. 
                    These systems give a better sense of vision, pull out the objects and display hazards.
                    Augmented Reality has proved its worth by decreasing the amount of risk and the cost rates in association with training. <br /> <br />
                    <a href="https://towardsdatascience.com/augmented-reality-ar-trends-the-past-present-future-predictions-for-2019-8e1148345304"><img src="img/trainingar.jpg" alt="car AR" class="rounded" /></a> <br />
                </h3>
            </div>
    
            <article class="bottom">
                <h3>
                    <u>Real Estate</u><br /> <br /> With a single touch of the button, clients are able to all-angle AR models of any apartment of their interest. 
                    Without leaving the office or home, they may browse, compare and analyze flats/houses/offices in great detail.
                    <br /> <br />
                    <a href="https://thinkmobiles.com/blog/augmented-reality-real-estate/"><img src="img/REar.jpg" alt="Real Estate AR" class="rounded" /></a> <br />
                </h3>
    
            </article>
        </section>
        <aside>
            <h3>
                <u>Automobile Industry</u> <br /> <br /> Automobile companies are currently working on dashboard-mounted display graphics. 
                This technology is likely to reduce the occurrence of accidents, as it has the capability of pointing out towards hazards. <br /> <br />
                <a href="https://towardsdatascience.com/augmented-reality-ar-trends-the-past-present-future-predictions-for-2019-8e1148345304"><img src="img/ardrive.jpg" alt="Car AR" class="rounded" /></a> <br />
            </h3>
    
            <h3>
                <u>Invitations</u> <br /> <br /> Augmented Reality invitations are quite similar to business cards, but are just being implmented in our world today. As of recent, companies
                such as Call of Duty, has taken an attempt with augmented reality as they sent out special invitations to their select bunch. This can be seen here: <br /> <br />
                <video width="320" height="400" controls>
                    <source src="img/ARInvite.mp4" type="video/mp4">
                </video><br />
            </h3>
        </aside>
    </div>
    
    
    <% include partials/footer.ejs %>
</body>
</html>

