<!--All ejs tags go within the tags <%%> below -->
<% include partials/header.ejs %>

<body>
    <div class="content clearfix">
        <section>
            <div class="top">
                <h2>Abstract</h2>
            </div>

            <article class="bottom">
                <h3>

                    To understand the basics of augmented reality (AR). As well as seeing what the future holds for this software development and its' current misconceptions.
                    <br /> <br /> “I'm not virtual reality” <br/> —Augmented Reality
                </h3>

            </article>
        </section>
        <aside>
            <br />
            <img src="img/ar.jpg" alt="AI" class="rounded"/>
        </aside>
    </div>
    
    
    <% include partials/footer.ejs %>
</body>
</html>