<!--All ejs tags go within the tags <%%> below -->
<% include partials/header.ejs %>

<body>
    <h4>
        <u>AR is another version of VR</u> <br /> No, it's not. Look here:<br/>
        <br/>
        <img src="img/arvsvr.jpg" alt="Graphic of AR VS VR" class="rounded"/><br /> <br/>
    </h4>
    <div class="content clearfix">
        <section>
            <div class="top">
            </div>
    
            <article class="bottom">
                <h3>
                    <u>AR isn’t designed for a professional or work environment.</u> <br /> <br />
                    Those who envision AR as involving a lot of hand-waving in the middle of a workplace environment have missed the point of AR. 
                    Because of its ability to integrate computer images with the real world, workplace apps are designed to facilitate information transfer, enhance productivity, and facilitate one-on-one collaborative communications
                    <br /> <br />
                    <a href="https://www.electronicdesign.com/embedded-revolution/11-myths-about-future-and-present-augmented-reality"><img src="img/workar.jpg" alt="Work AR" class="rounded" /></a> <br />
    
                </h3>
            </article>
        </section>
        <aside>
    
            <h4>
                <u>AR is only applicable for games and cool pictures.</u> <br /> <br />
                AR is being successfully applied in a variety of heavy industries, including manufacturing, mining, oil and gas, automotive, field service, and construction.
            </h4>
    
    
            <h4>
                <u>AR is hard to use/make/expensive.</u> <br /> <br /> New platforms are allowing for the same templated, simplistic development for smart instruction AR tools. 
                This means, any organization can harness the power of AR through a simple drag-and-drop feature with no coding required.
                
                <br /> <br />
                
                <iframe width="560" height="315" src="https://www.youtube.com/embed/5jxwfZmf7uU" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
            </h4>
        </aside>
    </div>
    
    
    <% include partials/footer.ejs %>
</body>
</html>


